module.exports = {
  server: {
    port: 12345
  },
  database: {
    name: 'benode',
    host: 'localhost',
    port: 3306,
    user: 'root',
    password: ''
  },
  bcrypt: {
    saltRounds: 10
  }
}